@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader Styles */
.loader {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #000;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.loader-dots {
	display: flex;
	gap: 8px;
}

.loader-dots span {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #000;
	animation: dots 1.4s ease-in-out infinite both;
}

.loader-dots span:nth-child(1) { animation-delay: -0.32s; }
.loader-dots span:nth-child(2) { animation-delay: -0.16s; }

@keyframes dots {
	0%, 80%, 100% {
		transform: scale(0);
		opacity: 0.5;
	}
	40% {
		transform: scale(1);
		opacity: 1;
	}
}

.loader-bars {
	display: flex;
	gap: 4px;
	align-items: center;
	height: 40px;
}

.loader-bars span {
	width: 6px;
	height: 40px;
	background-color: #000;
	animation: bars 1.2s ease-in-out infinite;
}

.loader-bars span:nth-child(1) { animation-delay: -1.1s; }
.loader-bars span:nth-child(2) { animation-delay: -1.0s; }
.loader-bars span:nth-child(3) { animation-delay: -0.9s; }
.loader-bars span:nth-child(4) { animation-delay: -0.8s; }
.loader-bars span:nth-child(5) { animation-delay: -0.7s; }

@keyframes bars {
	0%, 40%, 100% {
		transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1);
	}
}

.loader-ripple {
	position: relative;
	width: 64px;
	height: 64px;
}

.loader-ripple div {
	position: absolute;
	border: 4px solid #000;
	border-radius: 50%;
	opacity: 1;
	animation: ripple 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader-ripple div:nth-child(2) {
	animation-delay: -0.7s;
}

@keyframes ripple {
	0% {
		top: 28px;
		left: 28px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: -1px;
		left: -1px;
		width: 58px;
		height: 58px;
		opacity: 0;
	}
}

.loader-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.loader-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 4px solid #000;
	border-radius: 50%;
	animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #000 transparent transparent transparent;
}

.loader-ring div:nth-child(1) { animation-delay: -0.45s; }
.loader-ring div:nth-child(2) { animation-delay: -0.3s; }
.loader-ring div:nth-child(3) { animation-delay: -0.15s; }

@keyframes ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader-hourglass {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
}

.loader-hourglass::after {
	content: "";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 8px;
	box-sizing: border-box;
	border: 20px solid #000;
	border-color: #000 transparent #000 transparent;
	animation: hourglass 1.2s infinite;
}

@keyframes hourglass {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		transform: rotate(1800deg);
	}
}

.loader-roller {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.loader-roller div {
	animation: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 32px 32px;
}

.loader-roller div::after {
	content: " ";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #000;
	margin: -3px 0 0 -3px;
}

.loader-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.loader-roller div:nth-child(1)::after {
	top: 50px;
	left: 50px;
}

.loader-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.loader-roller div:nth-child(2)::after {
	top: 54px;
	left: 45px;
}

.loader-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.loader-roller div:nth-child(3)::after {
	top: 57px;
	left: 39px;
}

.loader-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.loader-roller div:nth-child(4)::after {
	top: 58px;
	left: 32px;
}

.loader-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.loader-roller div:nth-child(5)::after {
	top: 57px;
	left: 25px;
}

.loader-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.loader-roller div:nth-child(6)::after {
	top: 54px;
	left: 19px;
}

.loader-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.loader-roller div:nth-child(7)::after {
	top: 50px;
	left: 14px;
}

.loader-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.loader-roller div:nth-child(8)::after {
	top: 45px;
	left: 10px;
}

@keyframes roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader-ellipsis {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.loader-ellipsis div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #000;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-ellipsis div:nth-child(1) {
	left: 6px;
	animation: ellipsis1 0.6s infinite;
}

.loader-ellipsis div:nth-child(2) {
	left: 6px;
	animation: ellipsis2 0.6s infinite;
}

.loader-ellipsis div:nth-child(3) {
	left: 26px;
	animation: ellipsis2 0.6s infinite;
}

.loader-ellipsis div:nth-child(4) {
	left: 45px;
	animation: ellipsis3 0.6s infinite;
}

@keyframes ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}

/* Table Animation */
@keyframes slideInRight {
	from {
		opacity: 0;
		transform: translateX(30px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.table-animate {
	animation: slideInRight 0.5s ease-out;
}

